# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment
.env
venv/
env/
ENV/

# Node / React
node_modules/
dist/
build/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.vite/

# Data and Models
*.csv
*.dat
*.out
*.log
sales_train_validation.csv

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Extra Folders
m5-forecasting-accuracy/
frontend/
examplesjava/
.agents/

prophet_models/
texas_prophet_values